/* Colores mágicos */
:root {
    --rosa: #f7c6e6;
    --lila: #d7b3ff;
    --dorado: #f7e7a9;
    --morado-oscuro: #4a2c6d;
    --blanco-magico: #fff7ff;
    --fondo: #2b163f;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0; 
   
    color: var(--blanco-magico); 
    font-family: "Marcellus", serif; 
    
}


/* ---------------- HEADER ---------------- */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background: linear-gradient(135deg, var(--lila), var(--rosa));
    border-bottom: 4px solid var(--dorado);
}

.banner-text {
    flex: 1;
    color: var(--morado-oscuro);
}

.banner-texto h1 {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 56px;
    margin: 0 0 10px;
    text-shadow: 0 0 10px var(--blanco-magico);
}

.banner-texto h2 {
    font-size: 22px;
    margin: 0 0 20px;
}

.banner-texto p {
    font-size: 16px;
    max-width: 420px;flex: 1;
}
/*
.hero-boton {
    display: inline-block;
    margin-top: 18px;
    padding: 10px 20px;
    background-color: var(--morado-oscuro);
    color: var(--dorado);
    border-radius: 999px;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0 0 12px rgba(0,0,0,0.4);
    transition: 0.2s;
}

.hero-boton:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 18px var(--dorado);
}*/

.banner-imagen {
    text-align: right;
}

.banner-imagen img {
    width: 150px;
    border-radius: 16px;
    border: 3px solid var(--dorado);
    box-shadow: 0 0 20px var(--dorado);
}

.content{
    background: url("images/fondo.webp") no-repeat center center fixed; 
    background-size: cover; 
    position: relative;
    padding-top: 40px;
}
/* ---------------- MAIN ---------------- */

main {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}

section {
    margin-bottom: 30px;
    background: rgba(20, 8, 36, 0.674);
    border-radius: 18px;
    padding: 25px 20px 30px;
    border: 1px solid rgba(247, 231, 169, 0.8);
    box-shadow: 0 0 18px rgba(0,0,0,0.4);
}

section h2 {
    font-family: "Parisienne", cursive;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--dorado);
}

section p {
    font-size: 16px;
    line-height: 1.6;
}

/* ---------------- FOOTER ---------------- */

footer {
    text-align: center;
    padding: 20px 10px 30px;
    font-size: 14px;
    opacity: 0.8;
}
